/* General styles */

:root {
  --btn-bg-color: #596D48;
  --btn-bg-alt-color: #637c4d;
}

@font-face {
  font-family: "norse-bold";
  src: url("./fonts/Norse-Bold.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;  
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  line-height: 1.5;
}

/* Side header styles */

.side-header {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("./img/halie-west-25xggax4bSA-unsplash.jpg");
  color: #fff;
}

.side-header img {
  width: 100px;
}

.side-header h1 {
  font-family: "norse-bold", sans-serif;
  font-size: 3.5rem;
}

.side-header a {
  color: #fff;
}


.logo {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  margin-top: 30vh;
}

.creator-footer {
  margin-bottom: 3vh;
}

.creator-footer p,
.creator-footer a  {
  font-size: .8rem;
}


/* Form styles */

.form-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #F9FAFB;
}

.form-heading {
  max-width: 700px;
  padding-left: 50px;
  /* padding-right: 250px; */
}

.form-heading p ,
.form-heading em{
  font-weight: bold;
  font-size: 1.3rem;
}

.form-heading > p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-controls-panel p {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 20px 0;
}

.form-body {
  width: 100%;
}

.form-controls-panel {
  background: #fff; 
  width: 100%;
  padding-left: 50px;
  box-shadow: 0 5px 5px rgba(222, 222, 222, 0.8);
  display: flex;
  flex-direction: column;
}

.control-groups {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column; 
  margin: 10px 0;
  
}

.form-control label {
  text-transform: uppercase;
  font-size: .6rem;
  letter-spacing: 0.1rem;
}

input,
input:valid {
  padding: 5px;
  outline: none;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
}
input:focus {
  border: 1px solid blue;

}

input:user-invalid {
  border: 1px solid red;
}

button, .have-account {
  margin-left: 50px;
  margin-top: 30px;
}

.have-account {
  margin-bottom: 10px;
}

button {
  background: var(--btn-bg-color);
  color: #fff;
  font-weight: bold;
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 10px 30px;
}

button:hover {
  background: var(--btn-bg-alt-color);
  cursor: pointer;
}

.have-account a {
  color: var(--btn-bg-color);
  text-decoration: none;
  font-weight: bold;
}

input.error {
  border: 1px solid red;  
}

span.error {
  font-size: 0.7rem;
  color: red;
}

/* Media query for small screens */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .side-header {
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .form-container {
    width: 100vw;
  }

  .form-heading {
    width: 100vw;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: normal;
    padding-right: 30px;
  }

  .form-heading p {
    width: 100%;
  }
}